
@using System.Data;
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
    DataSet ds = Session["xmlDataSet"] as DataSet;

    if (IsPost)
    {
        DataRow dr = ds.Tables[0].NewRow();
        dr["id"] = Request.Form["id"];
        dr["artist"] = Request.Form["artist"];
        dr["title"] = Request.Form["title"];
        dr["year"] = Request.Form["year"];
        dr["genre"] = Request.Form["genre"];
        dr["time"] = Request.Form["time"];
        dr["file"] = Request.Form["file"];

        ds.WriteXml(Server.MapPath(@"~\App_Data\Playlist.xml"));
    }

}


<h2>Create</h2>
<form method="post">
    <input type="text" name="id" placeholder="Id" /><br/>
    <input type="text" name="artist" placeholder="Signer" /><br />
    <input type="text" name="title" placeholder="titel" /><br />
    <input type="text" name="time" placeholder="speelduur" /><br />
    <input type="text" name="genre" placeholder="Categorie" /><br />
    <input type="text" name="year" placeholder="Uitgave" /><br />
    <input type="text"  name="file" placeholder="File" /><br />
    <input type="submit" />
</form>
